<div class="uk-container">
  <div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">Meus Pets</li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-nav">
        <li class="uk-active">
          <a href="#">
            <span
              class="uk-icon uk-margin-small-right"
              uk-icon="icon: plus"
            ></span>
            Adicionar
          </a>
        </li>
      </div>
    </div>
  </div>
</div>

<div class="uk-container">
  <div uk-grid>
    <div class="uk-width-1-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <br />
          <p class="uk-text-center">
            <img
              src="https://place-hold.it/250x250"
              alt=""
              class="uk-border-circle"
            />
          </p>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Media Top</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam
            laudantium inventore ipsum quam consequatur tenetur, totam unde
            mollitia. Odio, possimus cumque voluptatum similique beatae
            praesentium suscipit veritatis quod magnam et.
          </p>
          <p>
            <a href="#" class="uk-button ukbutton-default">
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: pencil"
              ></span>
              Editar
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="uk-width-1-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <br />
          <p class="uk-text-center">
            <img
              src="https://place-hold.it/250x250"
              alt=""
              class="uk-border-circle"
            />
          </p>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Media Top</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam
            laudantium inventore ipsum quam consequatur tenetur, totam unde
            mollitia. Odio, possimus cumque voluptatum similique beatae
            praesentium suscipit veritatis quod magnam et.
          </p>
          <p>
            <a href="#" class="uk-button ukbutton-default">
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: pencil"
              ></span>
              Editar
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
